.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center; }
  .header .logo, .header .titles {
    display: inline-block; }
  .header .logo {
    margin-right: 10px;
    height: 75px;
    width: 75px; }
  .header .titles h3 {
    font-weight: normal; }

.stolen-bikes {
  max-width: 70%;
  width: 70%;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .stolen-bikes .search-bar {
    margin-bottom: 50px; }
    .stolen-bikes .search-bar * {
      margin-right: 10px; }
  .stolen-bikes .paginated-list ul {
    list-style: none;
    padding-left: 0px; }

.stolen-bike {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px; }
  .stolen-bike img {
    width: 15%;
    margin-right: 5%; }
  .stolen-bike .description {
    width: 80%; }
    .stolen-bike .description .time-location {
      display: flex;
      flex-wrap: wrap; }
      .stolen-bike .description .time-location label {
        width: 50%;
        line-height: 1.5; }

.stolen-bike-details {
  max-width: 70%;
  width: 70%;
  margin: 0 auto; }
  .stolen-bike-details .map-container {
    position: relative;
    height: 400px;
    width: 100%; }

.page-links {
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-links * {
    margin-right: 5px; }

.error {
  color: red; }
